<div id='main'>
<fieldset>
	<legend>Edit the url linked to your code</legend>
	
	<% @tags.each do |tag| %>
    <div>
	    <div id='qrcode'>
			<table>
			 <% url = tag.data %>
			 <% @qr = RQRCode::QRCode.new(url, :size => 2, :level => :l) %>
			 <% @qr.modules.each_index do |x| -%>
			   <tr>
			   <% @qr.modules.each_index do |y| -%>
				<% if @qr.dark?(x,y) -%>
				<td class="black"/>
				<% else -%>
				<td class="white"/>
				<% end -%>
			   <% end -%>
			   </tr>
			 <% end -%>
			</table>	
		</div>
		<div id='fleche'>
		   <%= image_tag("link.png", :height => '50', :width => '62')%>
		</div>
		<div id='link'>
		<%= form_for(tag) do |f| %>
  <% if tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

      <ul>
      <% tag.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
		</div>
	   
	</div>
	<% end %>
</fieldset>
</div>